
 html{
  scroll-behavior:smooth;
  position: relative;
}


body{
    font-family: 'Chivo', sans-serif !important;
    height: 100%;
    width: 100%;
}

header img{
  border-radius: 10px,0px,10px,0px;
}


.contato{
  background-color: #9ED2E4;
  border: 8px;
  border-radius: 15px,0px,15px,0px;
  border-color: #E4F2FF;
}


.background{
  background-color: #9ED2E4;
}

button{
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.nav-item :hover{
  font-weight: bold;
  transition: 0.5s;
}
